body {
    background-color: skyblue;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    margin: 40px 0;
}

.container {
    width: 80%;
    margin: auto;
}


.number_box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
    font-weight: bold;

}


.number {
    background-color: rgb(92, 92, 255);
    width: 100px;
    height: 100px;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}