h1{
    text-align: center;
}

.number{
    background-color: rgb(92, 92, 255);
    width: 80px;
    height: 80px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;

}

.number_box{
    display: flex;
    flex-wrap: wrap;
}